

.landing .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.landing .content h1 {
    font-size: 2.8rem;
}

.landing .content p {
    font-size: 1rem;
}

.landing .content > * {
    margin: 10px 0;
}

.landing .content > *:last-child {
    margin-bottom: 0;
}

.landing .content > *:first-child {
    margin-top: 0; 
}

