header {
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255, 0);
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0) 0px 3px 8px;
}


.navbar, .nav, .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding: 10px 0px;
}

.nav-list {
    margin-right: 10px;
    text-transform: uppercase;
}

.nav-item {
    margin: 0 5px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item:last-child {
    margin-right: 0;
}