header {
    height: 84px;
    width: 100%;
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgb(255, 255, 255, 0);
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0) 0px 3px 8px;
}


.navbar .container, .nav, .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    margin-right: 10px;
    text-transform: uppercase;
}

.nav-item {
    margin: 0 5px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 1200px) {
    
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {}

@media only screen and (max-width: 576px) {}