/* .portfolio {
    padding: 0;
} */

.portfolio .img-box {
    height: 250px;
    border-radius: 3.75px;
    border: 1px solid rgb(0,0,0, 0.2);
    z-index: 1;
}

.portfolio .img-box img {
    object-fit: fill;
}

.portfolio .img-box:hover {
    z-index: 3;
    cursor: pointer;
}

.project:nth-child(2n) .col-2-box {
    flex-direction: row-reverse;
}

.portfolio .col-2 {
    position: relative;
    margin-bottom: calc(0.3 * 230px);
}

.portfolio .mobile {
    position: absolute;
    top: 30%;
    z-index: 2;
}

.portfolio .project {
    padding: 100px 0;
}

.portfolio p {
    opacity: 0.8;
}