.services {
    position: relative;
}

.services .bg-box {
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
    height: 100%;
    width: 70%;
}

.services .content {
    width: 70%;
}

.services .content div > * {
    margin: 10px 0;
}

.services .content div > *:last-child {
    margin-bottom: 0;
}

.services .content div > *:first-child {
    margin-top: 0;
}

.services .content div ul {
    list-style-type: disc;
    list-style-position: inside;
    
    line-height: 30px;
}