@import './landing.css';
@import './nav.css';
@import './services.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    /* background: rgb(243, 239, 148); */
    /* background: rgb(246, 244, 208); */
    background: rgb(228, 249, 245);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    color: rgb(64, 81, 78); 
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}

.logo {
    font-family: 'Ruda', sans-serif;
    font-size: 30px;
}

.cta {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800px;
    letter-spacing: 1px;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    /* background-color: rgb(32, 32, 32); */
    background-color: rgb(64, 81, 78);
    color: rgb(228, 249, 245);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.cta .arrow {
    background-color: rgb(228, 249, 245);
    -webkit-mask: url(../assets/icons/arrow-right-solid.svg) no-repeat center;
    mask: url(../assets/icons/arrow-right-solid.svg) no-repeat center;
    width: 13px;
    height: 13px;
}

.cta span {
    margin-right: 7px;
}

.cta > * {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

section {
    padding: 55px 0px 150px;
    z-index: 1;
}

section:last-of-type {
    padding-bottom: 0;
}

.bg-box {
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: rgb(246, 244, 208); */
    background-color: rgb(17, 153, 158, 0.5);

    width: 50%;
    height: 89vh;
    z-index: -1;
    border-bottom-left-radius: 15px;
}


.testimonial {
    display: none;
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {}

@media only screen and (max-width: 576px) {}