@media only screen and (max-width: 576px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
    
    header {
        height: 77px;
    }

    .logo {
        font-size: 30px;
    }

    section {
        padding: 50px 0;
    }

    section:first-of-type {
        padding-top: 0px;
    }

    .container {
        padding: 0 20px;
    }

    .col-2-box {
        margin: 0;
        width: 100%;
        flex-direction: column !important;
        align-items: center;
    }

    .col-2 {
        width: 100%;
        margin: 20px auto;
    }

    /* .col-2:first-child {
        margin-top: 0;
    }

    .col-2:last-child {
        margin-bottom: 0;
    } */

    .content {
        padding: 0;
    }

    .content > * {
        margin: 10px 0;
    }

    .img-box {
        height: 360px;
    }

    .btn {
        width: 100%;
    }

    .btn.link {
        width: auto;
    }

    /* Sections */

    .landing .col-2-box {
        flex-direction: column-reverse !important;
    }

    .landing .bg-box {
        height: 60vh;
        width: 70%;
    }

    .services .content {
        width: 90%;
    }

    .services .bg-box {
        width: 90%;
    }

    .services ul {
        font-size: 16px;
    }

    .portfolio .project {
        padding: 0;
    }

    .portfolio .img-box {
        height: 200px;
    }

    .portfolio .mobile {
        left: 5%;
    }

    .portfolio .project:last-of-type .col-2:last-child {
        margin-bottom: 0;
    }
}