header {
    height: 84px;
    width: 100%;
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 0;
    z-index: 10; 
}

/* .navbar .nav {
    min-width: 453px;
} */

.logo-box {
    padding-right: 15px;
}

.logo {
    font-family: 'Ruda', sans-serif;
    font-size: 40px;
}

.navbar .container, .nav, .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    margin-right: 30px;
    text-transform: uppercase;
}

.navbar li{
    margin: 0 15px;
    position: relative;
}

.navbar li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 5px;
    background-color: rgb(17, 153, 158);
    transition: width 0.3s ease-in-out;
}

.navbar li a:hover:after {
    width: 100%;
}

.navbar li:first-child {
    margin-left: 0;
}

.navbar li:last-child {
    margin-right: 0;
}


@media only screen and (min-width: 576px) and (max-width: 1200px) {}

@media only screen and (max-width: 576px) {}