h1 {
    font-size:  63px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    line-height: 1.3em;
    color:rgb(17, 153, 158);
}

h2 {
    font-size: 40px;
    font-weight: 400;
    color: rgb(17, 153, 158);
}

h3 {
    font-size: 19px;
    font-weight: 400;
}

/* h4 {} */

/* h5 {} */

/* h6 {} */

/* p {
} */
