.btn {
    display: inline-block;
    vertical-align: top;
    
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    
    border: none;
    border-radius: 4px;
}

.cta {
    padding: 15px 25px;
    background-color: rgb(64, 81, 78);
    color: rgb(228, 249, 245);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 
        background-color 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out,
        color 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.cta:hover {
    background-color: rgb(64, 81, 78, 0.9);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #ffffff;
    transform: scale(0.95);
}

.cta:hover .arrow {
    background-color: #ffffff;
    /* width: 17px;
    height: 17px; */
}

.link:hover span{
    text-decoration: underline;
}

.btn .arrow {
    background-color: rgb(64, 81, 78);
    -webkit-mask: url(../../assets/icons/arrow-right-solid.svg) no-repeat center;
    mask: url(../../assets/icons/arrow-right-solid.svg) no-repeat center;
    width: 16px;
    height: 16px;
    transition: 
        background-color 0.3s ease-in-out;
}

.cta .arrow {
    background-color: rgb(228, 249, 245);
    margin-left: 7px;
}



.btn > * {
    display: inline-block;
    vertical-align: middle;
}

